<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tPay | accept payment</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}" />
    <!--JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/333122abda.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <a href="https://www.utoronto.ca/" class="logo" target="_blank">
        <img src="{% static 'images/uoft_2.png' %}" alt="">
    </a>

    {% block nav %}{% include 'navbar.html' %}{% endblock nav %}

    <br>
    <br>
    <br>

    <div class="center-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="no-background">
                <div class="center-container">
                    <video id="video" width="auto" height="210" autoplay></video>
                    <canvas id="canvas" width="auto" height="210"></canvas>
                </div>
                <br>
                <div class="center-container">
                    <button class="start-camera" id="start-camera">Start</button>
                    <button class="click-photo" id="click-photo">Take Photo</button>
                    <input class="button-submit" type="submit" name="submit" value="Upload" />
                </div>
                <hr>
                <h3><small>
                        Having trouble checking out? Please contact support or make sure you have registered
                        <a href="https://tcard.utoronto.ca/get-your-utorid-tcard/">here</a>
                    </small>
                </h3>
            </div>
            <input id="food_item" type="hidden" name="food_item" value="{{food_item}}" />
            <div class="no-display">
                <input class="img-url" id="img_url" type="text" name="img_url" />
            </div>
        </form>
    </div>
</body>
<script>
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let click_button = document.querySelector("#click-photo");
    let canvas = document.querySelector("#canvas");

    camera_button.addEventListener('click', async function () {
        let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
        video.srcObject = stream;
    });

    click_button.addEventListener('click', function () {
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        let image_data_url = canvas.toDataURL('image/jpeg');

        // data url of the image
        // console.log(image_data_url);
        // document.getElementById("img_url").value = fileData;

        // Here is the code for converting "image source" (url) to "Base64".

        let url = image_data_url

        document.getElementById("img_url").value = url;

        // //return a promise that resolves with a File instance
        // function urltoFile(url, filename, mimeType) {
        //     mimeType = mimeType || (url.match(/^data:([^;]+);/) || '')[1];
        //     return (fetch(url)
        //         .then(function (res) { return res.arrayBuffer(); })
        //         .then(function (buf) { return new File([buf], filename, { type: mimeType }); })
        //     );
        // }

        // //Usage example:
        // urltoFile(url, 'a.png')
        //     .then(function (file) {
        //         console.log(file);
        //         document.getElementById("img_url").value = file;
        //     })
    });
</script>

</html>